@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav_list {
        counter-increment: count 1;
    }

    .nav_list:before{
        @apply text-stone-500;
        content: '0' counter(count) '.';
        display: block;
        margin-bottom: 5px;
    }

    .FluidWidth {
        width: min(75vw, 400px);
    }

    .WiderScreenLi{
        counter-increment: count 1;
    }

    .WiderScreenLi:before{
        content: '0' counter(count) '.';
        display: inline-block;
        margin-bottom: 5px;
    }

    .text-fluid {
        font-size: clamp(14px, 4vw, 18px);
    }

    .btn {
        @apply w-full p-2 rounded font-bold;
    }

    .outlined-btn {
        @apply btn outline outline-amber-300 hover:bg-amber-200;
    }

    .amber-btn {
        @apply btn bg-amber-300 hover:bg-amber-200;
    }
}

/* === default setting ===*/

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

body {
    @apply font-sans bg-stone-100;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    line-height: 1.3;
    color: #403b37;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}