.order-item{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 1rem;
  background-color: white;
  height: 60px;
  padding: 30px;
  cursor: pointer;
}

.order-id,
.order-total{
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-link{
  text-decoration: none;
  text-underline: none;
  color: black;
}