.categories {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 4%;
}

.category {
  width: 30%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: auto;
    &:hover {
      transform: scale(1.5);
      transition: transform 1s ease;
    }
  }

  p {
    position: absolute;
    font-size: 1.5rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.695);
    top: 40%;
    left: 40%;
  }
}

.notebook {
  img {
    transform: scale(1.4);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .category {
    width: 48%;
    p {
      top: 25%;
      left: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 100%;
    p {
      top: 35%;
      left: 30%;
    }
  }
}
