.product-link{
  text-decoration: none;
  color: black;
  border: 1px solid #e8e8e1;
  flex: 1 0 350px;
  max-width: 450px;
  padding: 10px;
  overflow: hidden;
}

.product-link,
.product-card{
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover{
    .add-to-cart-btn{
      display: block;
    }
  }
}

.product-image{
  flex: 0 0 355px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.product-title{
  margin: 30px 0;
}

.product-price{
  font-weight: bold;
  margin-bottom: 20px;
}

.add-to-cart-btn{
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
}




