#logo{
  height: 100px;
  width: 300px;
}

header{
  display: flex;
  align-items: center;
}

.searchField{
  height: 35px;
  width: 500px;
  margin: auto;
}

.home-text{
  margin-left: 80px;
  font-size: 1.5rem;
}

