.myAccount{
  display: flex;
  justify-content: space-between;
}

.logout{
  text-decoration: underline;
  cursor: pointer;
}

.account-content{
  display: flex;
  justify-content: space-between;
}

.orders{
  max-width: 1200px;
  flex: 1 0 500px;
}